dj-database-url==0.5.0
Django==1.11.10
django-admin-bootstrapped==2.5.7
django-allauth==0.35.0
django-angular==2.0.2
django-authtools==1.6.0
django-bootstrap-datepicker-widget==0.1
django-bootstrap3==9.1.0
django-bootstrap3-datepicker==0.4.1
django-bootstrap3-datetimepicker==2.2.3
django-bootstrap3-datetimepicker-2==2.5.0
django-bower==5.2.0
django-braces==1.12.0
django-comment==1.0.3
django-crispy-forms==1.7.0
django-debug-toolbar==1.9.1
django-easy-pdf==0.1.1
django-el-pagination==3.0.1
django-environ==0.4.4
django-filter==1.1.0
django-happenings==0.3.3
django-heroku==0.3.1
django-markdown==0.8.4
django-markdown-deux==1.0.5
django-multiupload==0.5.2
django-pagedown==1.0.4
django-rest-auth==0.9.3
django-scheduler==0.8.8
django-simple-blog==0.2.1
django-simple-math-captcha==1.0.7
django-sorting==0.1
git+https://github.com/amit988684/django-tables2
django-vote==2.1.6
djangorestframework==3.7.7
environ==1.0
gunicorn==19.7.1
oauthlib==2.0.6
ordereddict==1.1
pathlib==1.0.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
public==0.0.65
pycparser==2.18
pycryptodomex==3.4.12
pyjwkest==1.4.0
python-decouple==3.1
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
tinycss2==0.6.1
urllib3==1.22
vine==1.1.4
WeasyPrint==0.42.2
webencodings==0.5.1
Werkzeug==0.14.1
whichcraft==0.4.1
whitenoise==3.3.1
xattr==0.9.3
