click==6.7
comment==0.0.44
cookiecutter==1.6.0
cryptography==2.2.2
cssselect2==0.2.1
dj-database-url==0.5.0
Django==1.11.10
django-admin-bootstrapped==2.5.7
django-allauth==0.35.0
django-authtools==1.6.0
django-environ==0.4.4
django-heroku==0.3.1
django-rest-auth==0.9.3
django-tables2==1.21.2
djangorestframework==3.7.7
easy-thumbnails==2.5
enum34==1.1.6
environ==1.0
future==0.16.0
gunicorn==19.7.1
html5lib==1.0b10
httplib2==0.10.3
idna==2.6
ipaddress==1.0.19
kombu==4.1.0
Markdown==2.6.11
markdown2==2.3.5
MarkupSafe==1.0
misaka==2.1.0
oauthlib==2.0.6
ordereddict==1.1
pathlib==1.0.1
pdfrw==0.4
psycopg2==2.7.4
psycopg2-binary==2.7.4
public==0.0.65
pycparser==2.18
pycryptodomex==3.4.12
pyjwkest==1.4.0
PyJWT==1.6.0
pyOpenSSL==17.5.0
PyPDF2==1.26.0
Pyphen==0.9.4
python-dateutil==2.6.1
python-decouple==3.1
sqlparse==0.2.4
WeasyPrint==0.42.2
webencodings==0.5.1
Werkzeug==0.14.1
whichcraft==0.4.1
whitenoise==3.3.1
django_tables2